{% extends 'base.html.twig' %}

    {% block page_stylesheets %}
        {{ encore_entry_link_tags('home') }}
    {% endblock %}

{% block title %}
Khemeia | Accueil
{% endblock %}

{% block body %}
    <div id="home_page">
        <p>Bienvenue sur Khemeia</p>

    </div>

{% endblock %}
