{% extends 'search/base_search.html.twig' %}

{% block page_title %}Retrait de produit{% endblock %}

{% block search_title %}Recherche d'un produit à retirer{% endblock %}

{% block info_message %}
    Si le produit que vous recherchez n'est pas publié ou est épuisé, vous ne pouvez pas le retirer.
{% endblock %}

{% block product_actions %}
    {# Consultation accessible pour tout le monde #}
    <a href="{{ path('read', {id: product.getIdStoragecard()}) }}" class="btn btn-info btn-sm" title="Consultation">
        <i class="fa fa-file-text"></i>
    </a>

    {# Actions spécifiques au retrait #}
    {% if app.user.getIdStatus.getNameStatus() in ['responsable', 'utilisateur'] %}
        {% if product.getIspublished() %}
            {% if product.getStockquantity() is same as (0) %}
                <button class="btn btn-primary btn-sm" title="Produit épuisé" disabled>
                    <i class="fa fa-flask"></i>
                </button>
            {% else %}
                <a href="{{ path('remove_quantity', {id: product.getIdStoragecard()}) }}" class="btn btn-primary btn-sm" title="Retrait">
                    <i class="fa fa-flask"></i>
                </a>
            {% endif %}
        {% else %}
            <button class="btn btn-primary btn-sm" title="Produit non publié" disabled>
                <i class="fa fa-flask"></i>
            </button>
        {% endif %}
    {% endif %}

    {# Historique pour les responsables #}
    {% if app.user.getIdStatus.getNameStatus() == 'responsable' or app.user.getIdStatus.getNameStatus() == 'administrateur' %}
        <a href="{{ path('moved_history', {id: product.getIdStoragecard()}) }}" class="btn btn-purple btn-sm" title="Historique">
            <i class="fa fa-folder-open"></i>
        </a>
    {% endif %}

    {# Actions admin #}
    {% if app.user.getIdStatus.getNameStatus() == 'administrateur' %}
        <a href="{{ path('admin_storage_modify', {id: product.getIdStoragecard()}) }}" class="btn btn-success btn-sm" title="Modifier">
            <i class="fa fa-pencil"></i>
        </a>
    {% endif %}
{% endblock %}

{% block module_stylesheets %}

{% endblock %}

{% block module_javascripts %}

{% endblock %}