    <div class="panel box box-warning">
        <div class="box-header with-border">
            <h4 class="box-title">
                Gestion des référentiels
            </h4>
        </div>
        <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
                <li class="active"><a class="" data-toggle="tab" href="{{ path('admin_product') }}" aria-expanded="true">Gestion des Fiches produits</a></li>
                <li class=""><a data-toggle="tab" href="#">Gestion des Fiches de stock</a></li>
                <li class=""><a data-toggle="tab" href="{{ path('home_page') }}">Gestion des fournisseurs</a></li>
                <li class=""><a data-toggle="tab" href="#">Gestion des types de produits</a></li>
                <li class=""><a data-toggle="tab" href="#">Gestion des conseils de prudence</a></li>
                <li class=""><a data-toggle="tab" href="#">Gestion des symboles de danger</a></li>
                <li class=""><a data-toggle="tab" href="#">Gestion des mentions de danger</a></li>
                <li class=""><a data-toggle="tab" href="#">Gestion des fournisseurs</a></li>

            </ul>