.hover
{
    color: black !important;
}
.error-style {
    padding-top: 20px;
}

.form-style {
    border-radius: 0px !important;
    border-color: #d2d6de;
}

.radio-button{
    margin-left: 20px !important;
}

#chimicalproduct_iscmr label,
#storagecard_isarchived label,
#storagecard_resp_isarchived label,
#storagecard_ispublished label,
#storagecard_resp_ispublished label,
#storagecard_isrisked label,
#storagecard_resp_isrisked label,
#quantity_ismoved label,
#quantity_isopened label{
    min-height: 20px !important;
    padding-left: 10px !important;
    margin-bottom: 0 !important;
    font-weight: 400 !important;
    cursor: pointer !important;
}

.product-title{
    font-size: 22px;
    text-align: center;
}

.fiche-title{
    text-align: center !important;
    border: #d2d6de solid 1px;
}

.info-group {
    display: flex;
    flex-direction: row;
}

.info-group label{
    width: 250px;
}
.btn-pdf {
    color: #dd4b39;
    background-color:  #fff;
    border-color: rgba(0, 0, 0, 0.2) !important;
}
.btn-pdf:focus,
.btn-pdf.focus {
    color:#fff;
    background-color:#dd4b39;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-pdf:hover {
    color: #fff;
    background-color: #dd4b39;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-pdf:active,
.btn-pdf.active,
.open > .dropdown-toggle.btn-pdf {
    color: #fff;
    background-color:#dd4b39;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-pdf:active,
.btn-pdf.active,
.open > .dropdown-toggle.btn-pdf {
    background-image: none;
}
.btn-pdf .badge {
    color: #fff;
    background-color: #dd4b39;
}

#invoice {
    position: relative;
    background: #fff;
    border: 1px solid #f4f4f4;
    padding: 20px;
}

#localisation, #open, #expiration {
    display: none;
}