#home_page p {
    font-size: 6.5em;
    font-family: "Gill Sans Medium";
    color: black;
    line-height: 137px;
}
#home_page img {
    vertical-align: top;
}


#home_page {
    text-align: center;
}

.home_page {
    background-image:url('../../images/pharmacy.jpg');
    background-size: cover;
}