#ul_button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-title {
    display: block !important;
    text-align: center;
}

.btn-ul {
    color:#ffef1b;
    background-color:  #2b2b2b;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-ul:focus,
.btn-ul.focus {
    color:#ffef1b;
    background-color: #444444;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-ul:hover {
    color: #ffef1b;
    background-color: #444444;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-ul:active,
.btn-ul.active,
.open > .dropdown-toggle.btn-ul {
    color: #ffef1b;
    background-color: #2b2b2b;
    border-color: rgba(0, 0, 0, 0.2);
}
.btn-ul:active,
.btn-ul.active,
.open > .dropdown-toggle.btn-ul {
    background-image: none;
}
.btn-ul .badge {
    color: #444444;
    background-color: #ffef1b;
}