{% extends 'base.html.twig' %}

{% block stylesheets %}
    <!-- Datepicker -->
    <link rel="stylesheet" href="{{ asset('assets/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css') }}">
    <!-- Select2 -->
    <link rel="stylesheet" href="{{ asset('assets/bower_components/select2/dist/css/select2.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/general_style.css') }}">
    <!-- DataTables -->
    <link rel="stylesheet" href="{{ asset('assets/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css') }}">
{% endblock %}

{% block title %}
    Khemeia | Erreur
{% endblock %}

{% block body %}
    <div class="panel box box-danger">
        <div class="box-header with-border">
            <h4 class="box-title">
                Erreur
            </h4>
        </div>
    </div>
{% endblock %}